.section {
  grid-row: 1 / 3;
  grid-column: 1 / -1;
  display: grid;
  justify-items: center;
  background-size: cover;
  padding: 24px;
  padding-top: 16vh;

  h1 {
    font-size: clamp(40px, 5vw, 72px) !important;
    color: white;
  }
}
