.app {
  text-align: center;
}

.app_logo {
  height: 40vmin;
  pointer-events: none;
}

.link_container {
  display: flex;
  flex-direction: column;
  
  /*
    Nested CSS is a feature of SCSS, this is the same as writing .link_container a {}
    but keeps all CSS located in one block for readability
  */
  a {
    margin-bottom: 16px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app_logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.app_header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
