.home {
  display: grid;
  grid-template-rows: 40vh repeat(3, auto);
  grid-template-areas:
    "hero"
    "search"
    "search"
    "locations";

  .locations {
    margin-top: 40px;
  }

  .locationCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
