.section {
  padding: 24px;
}

.h1 {
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  fieldset {
    width: 100%;
  }

  .formList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    justify-self: flex-end;
    align-self: flex-end;
  }
}

@media (min-width: 600px) {
  .form {
    fieldset {
      width: initial;
    }

    .formList {
      display: grid;
      align-content: center;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    button {
      grid-column: 1 / 3;
      justify-self: end;
    }
  }
}
