.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  position: relative;

  footer {
    padding: 20px;
    width: 100%;
  }
}
